<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Myntra Shopping</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/myntra/static/myntra.css" />
    <link
      rel="shortcut icon"
      href="/myntra/images/Myntra-logo.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <div class="header">
        <div class="header-left">
          <a href="myntra.html">
            <img
              src="/myntra/images/Myntra-logo.png"
              alt="Myntra Logo"
              href=""
            />
          </a>

          <li>men</li>
          <li>women</li>
          <li>kids</li>
          <li>home&living</li>
          <li>beauty</li>
          <li>studio</li>
        </div>
        <div class="header-right">
          <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input
              type="text"
              placeholder="search for product"
              id="searchInput"
            />
          </div>
          <div class="menu-icons">
            <i class="fa-regular fa-user"></i>
            <h2>profile</h2>
          </div>
          <div class="menu-icons">
            <i class="fa-regular fa-heart"></i>
            <h2>whitlist</h2>
          </div>
          <div class="menu-icons">
            <i class="fa-solid fa-bag-shopping"></i>
            <h2>bag</h2>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="cards-container">
        <!-- <div class="card">
          <div class="item-img">
            <img src="/myntra/images/mensShirt.png" alt="" />
          </div>
          <div class="item-data">
            <h1>NOBERO</h1>
            <h2>Graphic Printed Oversized T-shirt</h2>
            <h3>
              Rs. 300
              <span id="removedprice">Rs. 400</span>
              <span id="discount">(69% OFF)</span>
            </h3>
          </div>
        </div> -->
      </div>
    </main>
    <footer>
      <div class="footer-ShoppingLink">
        <h1>online Shopping</h1>
        <li>men</li>
        <li>women</li>
        <li>kids</li>
        <li>home&living</li>
        <li>beauty</li>
        <li>gift cards</li>
        <li>myntra insider</li>
      </div>
      <div class="footer-ShoppingLink">
        <h1>customer policies</h1>
        <li>contact us</li>
        <li>faq</li>
        <li>t&c</li>
        <li>terms of use</li>
        <li>shipping</li>
        <li>cancellation</li>
        <li>privacypolicy</li>
        <li>grivenance redressal</li>
      </div>
      <div class="footer-ShoppingLink">
        <h1>EXPERIENCE MYNTRA APP ON MOBILE</h1>
        <div>
          <img src="/myntra/images/appstore.png" alt="App Store" />
          <img src="/myntra/images/playstore.png" alt="PlayStore" />
        </div>
        <div class="social-icons">
          <h2>KEEP IN TOUCH</h2>
          <div>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-instagram"></i>
          </div>
        </div>
      </div>
    </footer>
    <script src="/myntra/static/myntraCss.js"></script>
    <script src="/myntra/static/myntra.js"></script>
  </body>
</html>
